@model WebApplication4.Models.ScreenNames

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ScreenNames</legend>
        <div class="form-group">
            @Html.DropDownList("MovieId", null, new  { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.DropDownList("ActorId", null, new { @class = "form-control" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScreenName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScreenName, null, new { @class="form-control" })
            @Html.ValidationMessageFor(model => model.ScreenName)
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>
    </fieldset>
}






